* {
  box-sizing: border-box;
  margin: 0;
  outline: 0;
  padding: 0;
}
*::-webkit-scrollbar{
  display: none
}

@import "partials/colors";
@import "partials/header";
@import "partials/layout";

body {
  background-color: $primary-normal;
  font-family: "Sora", sans-serif;
  height: 100vh;
  position: relative;
}

button {
  font-family: "Sora", sans-serif;
  cursor: pointer;
}

svg {
  width: 100%;
}

img {
  width: 100%;
}

a {
  cursor: pointer;
  text-decoration: none;
}
